
@model IEnumerable<WebApplication1.Models.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EditOrCreate", "Books")
</p>
<table class="table">
    <tr>
        <th>Images</th>
        <th>
            AuthorId
        </th>
        <th>
            Title
        </th>
        <th>
            Pages
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                 public string Images { get; set; }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
        </td>
    </tr>
}

</table>
