@model WebApplication1.Models.BookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookViewModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

    </dl>
</div>

@Html.ActionLink("Add Comment","Comment", "Main") ;

@*@using (Html.BeginForm("Comment", "Main", FormMethod.Post))
    {
        <input type="hidden" value="@ViewBag.BookId" name="bookId" />
    <table>
        <tr>
            <td><p>Введите свой Id</p></td>
            <td><input type="text" name="authorId" /> </td>
        </tr>
        <tr>
            <td><p>Введите комментарий:</p></td>
            <td><input type="text" name="message" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /> </td>
            <td></td>
        </tr>
    </table>
    }*@
<div>
    @foreach (var item in Model.message)
    {
        <p>Author: @item.authorId</p>
        <p>Message:@item.message</p>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
