@model IEnumerable<WebApplication1.Models.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EditOrCreate", new { id = 0 })|
    <p>Поиск</p><input id="find" >
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ganre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.Id">
        <td class="titleClass">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td class="ganreClass">
            @Html.DisplayFor(modelItem => item.Ganre)
        </td>
        <td>
            <img src="@item.Images" width="200px" height="100px" />
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    window.onload=function()
    {
        $("#find").change(function () {
            var titleCount = $(".titleClass").length;
            console.log(titleCount);

            //var count = $("#find").val()[0];
            //console.log(count);
            for (var i = 0; i < titleCount; i++)
            {
                var text = $($(".titleClass")[i]).text();
                var check = 0;
                var countFind = $("#find").val().length;
                for (var j = 0; j < countFind; j++) {
                    if (text[j] != $("#find").val()[j]) {
                        check++;
                    }
                }
                if(check!=$("#find").lenght)
                {
                    $("#" + $($($(".titleClass")[i]).parent())[0].id).hide();
                }
            }
           
        })
    }
</script>
